@import "tailwindcss";

@theme {
  --color-primaryBlue: #4F8EF7;
  --color-lightBlue: #EAF2FF;
  --color-mintGreen: #6ED3B1;
  --color-lightMint: #E8F8F2;
  --color-softCoral: #FF9AA2;
  --color-coralBg: #FFECEC;
  --color-mainBg: #F7F9FC;
  --color-cardBg: #ffffff;
  --color-borderLight: #E6EAF0;
  --color-textPrimary: #2D3748;
  --color-textSecondary: #718096;
}

/* @layer base {
  body {
    @apply bg-pastelBeige text-slate-800 m-0 p-0 font-sans;
  }
} */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
