@import "tailwindcss";

@theme {
  --color-pastelBlue: #C2E1F5;
  --color-pastelGreen: #C8F4D6;
  --color-pastelBeige: #F5F5DC;
  --color-pastelPink: #FDE2E4;
  --color-pastelPurple: #EAE4E9;
}

@layer base {
  body {
    @apply bg-pastelBeige text-slate-800 m-0 p-0 font-sans;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
